ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
button {
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}

li {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 25px;
}
